<ion-content class="custom-goals-popover">
  <div *ngIf="popoverHeading" class="popover-heading">{{popoverHeading}}</div>
  <div *ngIf="popoverContent">
  <ion-list no-lines class="goals-list" *ngFor="let section of popoverContent">
    <div class="paragraph">
      {{section}}
    </div>
  </ion-list>
  </div>
  <div *ngIf="popoverExamples">
    <div *ngFor="let each of popoverExamples">
      <div class="example">
        {{each}}
      </div>
    </div>
  </div>
  <div class="dismiss-button"><ion-button fill="clear" float-right (click) = "onPopupClose()">GOT IT</ion-button></div>
</ion-content>
